@import "tailwindcss";

/* Dile a Tailwind dónde escanear clases */
@source "./index.html";
@source "./src/**/*.{js,jsx,ts,tsx}";

/* Altura completa */
html, body, #root { height: 100%; }

/* Selección */
::selection { background: #22d3ee33; }

/* Autofill oscuro */
input:-webkit-autofill {
  -webkit-text-fill-color: #e5e7eb;
  -webkit-box-shadow: 0 0 0px 1000px #0b1220 inset;
  transition: background-color 9999s ease-out 0s;
}

/* Scrollbar discreto (WebKit) */
*::-webkit-scrollbar { width: 10px; height: 10px; }
*::-webkit-scrollbar-thumb { background: #334155; border-radius: 8px; }
